<h1>New Entry</h1>

<%= form_with model: @entry, url: entries_path, method: :post, local: true, multipart: true do |form| %>
  <%= form.hidden_field :place_id, value: @entry.place_id %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', id: 'title_input' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', id: 'description_input' %>
  </div>
  <div class="form-group">
    <%= form.label :occurred_on %>
    <%= form.date_field :occurred_on, class: 'form-control', id: 'occurred_on_input' %>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control', id: 'image_input', accept: 'image/png, image/jpg, image/jpeg, image/gif' %>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
<% end %>
